---
services:
  coredns:
    image: coredns/coredns:1.13.1
    container_name: coredns
    restart: unless-stopped
    network_mode: 'host'
    ports:
      - 53:53/udp
    volumes:
      - ./Corefile:/Corefile
      - ./local.lariscy.xyz:/local.lariscy.xyz